html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #15151d;
  color: #fff;
}


body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* nav styling */

header {
  position: relative;
  margin-bottom: 3rem;
 }
 
 .header-buttons {
   position: absolute;
   top: 0;
   right: 0;
 }

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.hamburger {
  padding-top: 0.3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.hamburger:hover {
  background-color: #ededed;
}

.hamburger .line {
  display: block;
  width: 1.4rem;
  height: 2px;
  margin-bottom: 4px;
  background-color: #000000;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ededed;
  display: none;
  margin: 0;
}

.nav-links.expanded {
display: block;
padding-top: 1.6rem;
}

.dark .nav-links a {
  color: #fff;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ededed;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {

  header {
    margin-bottom: 0px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }

  #themeToggle {
    margin-top: 0.6rem;
  }
}

/* footer styles */

footer {
  background-color: #ededed;
  padding: 0.1rem 1rem 1rem 1rem;
  margin-top: 1.2rem;
}

