---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Grid Test"
---
<BaseLayout PageTitle:{pageTitle}>
  <p>
    This is where we are going to do some grid work.<br>
    First, lets get a section and a container up and running.
  </p>

  <section>
    <header class="container u-grid">
      <h3 class="logo">Logo</h3>
      <nav>
        <a href="/home" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/contact" class="nav-link">Contact</a>
      </nav>
    </header>
  </section>

  <section class="grid-section">
    <div class="container u-grid">
      <div class="grid-item-1">
        <p class="grid-item-text">div 1</p>
      </div>
      <div class="grid-item-2">
        <p class="grid-item-text">div 2</p>
        <p>ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, itaque eum doloremque sequi voluptatibus.</p>
      </div>
      <div class="grid-item-3">
        <p class="grid-item-text">div 3</p>
        <p>ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, itaque eum doloremque sequi voluptatibus.</p>
      </div>
      <div class="grid-item-4">
        <p class="grid-item-text">div 4</p>
        <p>ipsum Lorem ipsum</p>
      </div>
    </div>
  </section>

  <section class="flex-section">
    <div class="container flex-container">
      <div class="flex-item-1">
        <p>flex item 1</p>
      </div>
      <div class="flex-item-2">
        <p>flex item 2</p>
      </div>

    </div>

  </section>

  <style>
    .logo {
      grid-column: 1/4;
    }

    header {
      margin-bottom: 0;
    }

    nav {
      grid-column: 8/13;
      display: flex;
      justify-content: space-between;
      align-items: center;
        }
    
    .grid-section {
      background-color: pink;
    }

    .grid-item-1 {
      height: 100%;
      background-color: blueviolet;
      grid-column: 2/8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-s);
    }

    .grid-item-2 {
      background-color: rgb(43, 226, 192);
      grid-column: 8/11;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-s);
    }

    .grid-item-3 {
      background-color: rgb(226, 43, 104);
      grid-column: 3/5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-s);
    }

    .grid-item-4 {
      background-color: rgb(226, 183, 43);
      height: 14rem;
      grid-column: 10/13;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-s);
      align-self: end;
    }

    .grid-item-text {
      color: oldlace;
    }

    .flex-section {
      height: 30rem;
      background-color: rgb(155, 255, 255);
    }

    .flex-container {
      display: flex;
      gap: var(--grid-gutter);
    }

    .flex-item-1 {
      padding: var(--space-s);
      background-color: rgb(199, 232, 150);
      width: 50%;
      
    }

    .flex-item-2 {
      padding: var(--space-s);
      background-color: rgb(150, 167, 232);
    }


    
  </style>

</BaseLayout>


