---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page for Renewables";
---
<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="container">
      <h1>{pageTitle}</h1>
      <h4>Welcome to the website!</h4>
      <Greeting client:load messages={["Hej", "Hallo", "Hola", "Hubari"]} />
    </div> 
  </section>
  <section class="section-2">
    <div class="container">
      <div class="content">
        <h2 class="content-heading">Text</h2>
      </div>
      
    </div>
  </section>
</BaseLayout>

<style>
  .section-2 {
    height: 40rem;
    margin-top: var(--space-l);
  }

  .content {
    height: 20rem;
    background-color: aquamarine;
    padding: var(--space-s);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content-heading {
  color: var(--color-dark-background-secondary);
}

</style>