---
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Renewables</title>
  </head>
  <body>
		<Header/>
<h1>Renewables</h1>
<h2>A site about Renewables and Sustainable Energy!</h2>
<Footer />
<script>
	import '../scripts/menu.js';
</script>
</body>
</html>