---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page for Renewables";
---
<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="container">
      <h1>{pageTitle}</h1>
      <h4>Welcome to the website!</h4>
      <Greeting client:load messages={["Hej", "Hallo", "Hola", "Hubari"]} />
    </div> 
  </section>
</BaseLayout>