---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header class="container">

  <Navigation />
  <div class="header-buttons">
    <ThemeIcon />
    <Hamburger />
  </div>
</header>