---
const { tag } = Astro.props;
---

<a href={`/tags/${tag}`} class="tag">
  {tag}
</a>

<style>
  .tag {
    display: inline-block;
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 0.8em;
    background-color: #ededed;
    text-decoration: none;
  }

  .tag:hover {
    background-color: #f1f5f9;
  }
</style>